*{
	margin: 0;
	padding: 0;
}


body{
  background-color: #E2E2DC;
}

h1{
  color: #C8102E;
	font-family: verdana;
  font-size: 4em;
  text-align: right;
  margin-right: 25%;
  margin-top: 2.5%;
}

h2{
    color: #fff;
		font-family: verdana;
    font-size: 30px;
    text-align: center;
    position: relative;
		margin-left: 3%;
}

p{
    color: white;
    font-family: verdana;
    font-size: 1em;
}

.imgTree{
  width: 45px;
  height: 35px;
}

#dragndrop {
  padding-top: 35vh;
  padding-left: 23.6vw;
  text-align: center;
  position: absolute;
  z-index: 1;
}

#mydiv2 {
  width: 75px;
  height: 60px;
  margin-top: 32vh;
  margin-left: 22.5vw;
  position: absolute;
  text-align: center;
  background-color: #fff;
  border: 2px solid black;
  border-radius: 10%;
  box-shadow: 0 0 5px grey;
}

#mydiv2 p{
	color: #000;
}

#mydivheader {
    cursor: move;
    z-index: 2;
}

#mydivheader1 {
    cursor: move;
    z-index: 2;
}

.lunden {
  height: 500px;
  width: 1200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}
                                  /*css til overlay*/
.overlay {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.close {
  color: #fff;
  font-size: 30px;
  font-weight: bold;
	height: 5px;
	opacity: 0;
}

.close:hover, .close:focus {
  color: #C8102E;
  text-decoration: none;
  cursor: pointer;
}

.overlay_content {
  background-color: #3f5b58;
  margin-top: 5%;
  margin-left: 12%;
  padding: 20px;
  border: 1px solid;
  width: 25%; /* Could be more or less, depending on screen size */
  height: 60%;
  overflow: auto;
}

.rang{
  width: 3vw;
  height: 6vh;
  border: 1px solid #fff;
  display: inline-block;
  overflow: hidden;
}

.tabelStyle{
	border: 0;
}

#rangDrop{
  width: 3vw;
  height: 6vh;
}

#rangImg{
	width: 100%;
	height: 100%;
}

.nameWrapper{
  width: 7vw;
  height: 6vh;
  border: 1px solid #fff;
  display: inline-block;
  overflow: hidden;
  text-align: center;
}

.name{
  height: 100%;
  font-size: 15px;

}

.imgRang{
  height: 6vh;
  display: inline-block;
  overflow: hidden;
}

.datoWrapper{
  width: 9.5vw;
  height: 5.7vh;
  display: inline-block;

}

.datoStart{
  width: 100%;
  height: 50%;
  border: 1px solid #fff;

}

.datoSlut{
  width: 100%;
  height: 50%;
  border: 1px solid #fff;
  overflow: hidden;
}

#dag{
	width: 30%;
	margin-left: 2%;
}
#m책ned{
	width: 30%;
}
#책r{
	width: 30%;
}

#dagSlut{
	width: 30%;
	margin-left: 2%;
}
#m책nedSlut{
	width: 30%;
}
#책rSlut{
	width: 30%;
}




.profil{
  width: 85%;
  height: auto;
  margin-top: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.profilImg{
    width: 45%;
    margin-right: 2%;
    margin-left: 5%;
    position: relative;
    z-index: 1;
}

.profilMp4{
    width: 45%;
    position: relative;
    z-index: 1;
}

.billede1{
    width: 33%;
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    position: relative;
}

.text1{
    width: 33%;
    height: 33%;
    margin-right: 12%;
    margin-top: 5%;
    margin-bottom: 5%;
    position: relative;
    float: right;
    overflow: hidden;
  }

  .text2{
      width: 33%;
			height: 33%;
      margin-left: 15%;
      margin-right: 7%;
      margin-top: 5%;
      margin-bottom: 5%;
      position: relative;
      float: left;
			overflow: hidden;
  }

.skrivHer{
	resize: none;
}

.billede2{
    width: 33%;
    margin-bottom: 5%;
    position: relative;
}

.godkend{
	display: block;
	margin-left: auto;
	margin-right: auto;
}















                          /*----------------------------*/
