*{
  margin: 0;
  padding: 0;
}


body{
  background-color: #E2E2DC;
}

h1{
  color: #C8102E;
  font-size: 75px;
  text-align: right;
  margin-right: 25%;
  margin-top: 2.5%;
}

.imgTree{
  width: 45px;
  height: 35px;
}

#dragndrop {
  padding-top: 16.4%;
  padding-left: 23.6%;
  text-align: center;
  position: absolute;
  z-index: 1;
}

#mydiv2 {
  width: 75px;
  height: 60px;
  margin-top: 15%;
  margin-left: 22.5%;
  position: absolute;
  text-align: center;
  background-color: #fff;
  border: 2px solid black;
  border-radius: 10%;
  box-shadow: 0 0 5px grey;
}

#mydivheader {
    cursor: move;
    z-index: 2;
}

.lunden {
  height: 500px;
  width: 1200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}
                                  /*css til overlay*/
.overlay {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.close {
  color: white;
  float: right;
  font-size: 30px;
  font-weight: bold;

}

.close:hover, .close:focus {
  color: #C8102E;
  text-decoration: none;
  cursor: pointer;
}

.overlay_content {
  background-color: #3f5b58;
  margin-top: 5%;
  margin-left: 12%;
  padding: 20px;
  border: 1px solid;
  width: 25%; /* Could be more or less, depending on screen size */
  height: 60%;
  overflow: auto;
}

.rang{
  width: 9%;
  height: 10%;
  border: 1px solid #fff;
  display: inline-block;
  overflow: hidden;
}

.nameWrapper{
  width: 35%;
  height: 10%;
  border: 1px solid #fff;
  display: inline-block;
  overflow: hidden;
  text-align: center;
}

.name{
  height: 100%;
  font-size: 15px;

}

.imgRang{
  height: 10%;
  display: inline-block;
  overflow: hidden;
}

.datoWrapper{
  width: 35%;
  height: 10%;
  display: inline-block;

}

.datoStart{
  width: 100%;
  height: 50%;
  border: 1px solid #fff;
  overflow: hidden;
}

.datoSlut{
  width: 100%;
  height: 50%;
  border: 1px solid #fff;
  overflow: hidden;
}

.rang p{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  line-height: 145%;
  color: #fff;
}

.datoStart, .datoSlut p{
  font-size: 15px;
  text-align: center;
  line-height: 150%;
  color: #fff;



}










                          /*----------------------------*/
