*{
padding: 0;
margin: 0;
}

body{
    background-color: #eee;
}

nav{
    width: 100%;
    height: 100px;
    background-color: #3f5b58;
}

ul{
    margin-left: 140px;
}

ul li{
    list-style: none;
    display: inline-block;
    float: right;
    line-height: 100px;
    border-left-style: groove;
}

ul li a{
    display: block;
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
    color: white;
    padding: 0 50px;
}

a:hover{
    color: #c8102e;
}

.navlogo{
    height: 0;
    width: 0;
}

.videowrapper{
    height: 70%;
    width: 100vw;
    margin: 0 auto;
    position: relative;
}

video{ 
    height: 100%;
    width: 100%;
}

.textwrapper{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-top: 200px;
    padding-left: 100px;
    color: white;
    font-family: sans-serif;
    font-size: 2em;
}

.textbackground{
    height: 100px;
    width: 500px;
    background-color: black;
    line-height: 100px;
    padding-left: 5%;
    padding-right: 5%;
}

/* ============================ Under videoen ================================= */
.arrowspacing{
    height: 50px;
    width: 100%;
    background-color: grey;
}

.arrow{
    height: 50px;
    width: 50px;
    background-color: darkgrey;
    margin: 0 auto;
    border-radius: 50%;
}

i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 15px;
    margin-left: 8px;
}

.down{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.websitemap{
    height: 250px;
    width: 500px;
    margin: 0 auto;
    padding-top: 50px;
    background-color: blue;
}