*{
padding: 0;
margin: 0;
}

body{
    background-color: #E2E2DC;
}

h1{
  font-family: verdana;
  font-weight: bold;
}

h2{
    color: #fff;
    font-family: verdana;
    font-size: 30px;
    text-align: center;
    position: relative;
    margin-left: 3%;
}

h4{
    color: #c8102e;
    font-family: verdana;
    font-style: italic;
    font-size: 3em;
    text-align: center;
    padding-top: 10px;
}

h5{
    color: #fff;
    font-family: verdana;
    font-size: 1.5em;
    float: left;
    line-height: 7vh;
}

h6{
  font-size: 1.1em;
  font-family: verdana;
  text-align: center;
  color: #fff;
  line-height: 3.5vh;
}

p{
    color: white;
    font-family: verdana;
    font-size: 1.1em;
}

nav{
    width: 98.9vw;
    height: 13vh;
    background-color: #3f5b58;
    position: fixed;
    z-index: 1;
}



ul li{
    width: 12.5vw;
    list-style: none;
    display: inline-block;
    float: right;
    line-height: 13vh;
    border-left-style: groove;
}

ul li a{
    display: block;
    text-decoration: none;
    font-size: 20px;
    font-family: verdana;
    color: white;
    text-align: center;
    cursor: pointer;
}

a:hover{
    color: #c8102e;
}

.navLogo img{
    width: 4%;
    padding-top: 0.5%;
    padding-left: 0.5%;
    float: left;
    cursor: pointer;
}

.videowrapper{
    width: 98.9vw;
    height: 87vh;
    padding-top: 7vh;
    overflow: hidden;
    position: absolute;
}

video{
    height: 100%;
    width: 100%;
}

.textwrapper{
    width: 35vw;
    color: white;
    font-family: sans-serif;
    font-size: 1.75em;
    position: relative;
    padding-top: 26vh;
    padding-left: 5vw;
    padding-bottom: 53vh;

}

.textbackground{
    height: 15vh;
    width: 35vw;
    background-color: black;
    text-align: center;
    line-height: 15vh;
}

/* ============================ Pilen Under videoen ================================= */
#viewport{
    width: 100%;
    height: 135px;
    background-color: #3f5b58;
    font-family: sans-serif;
    font-size: 5em;
    line-height: 135px;
    text-align: center;
    color: white;
    z-index: 2;
}
                                    /*Arrow*/
.arrow{
  position: relative;
  bottom: -0.5rem;
  left: 50%;
  margin-left:-20px;
  width: 40px;
  height: 40px;
  /**
   * Dark Arrow Down
   */
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSI1MTIiIGlkPSJzdmcyIiB2ZXJzaW9uPSIxLjEiIHdpZHRoPSI1MTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6Y2M9Imh0dHA6Ly9jcmVhdGl2ZWNvbW1vbnMub3JnL25zIyIgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIiB4bWxuczppbmtzY2FwZT0iaHR0cDovL3d3dy5pbmtzY2FwZS5vcmcvbmFtZXNwYWNlcy9pbmtzY2FwZSIgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIiB4bWxuczpzb2RpcG9kaT0iaHR0cDovL3NvZGlwb2RpLnNvdXJjZWZvcmdlLm5ldC9EVEQvc29kaXBvZGktMC5kdGQiIHhtbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzIGlkPSJkZWZzNCIvPjxnIGlkPSJsYXllcjEiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAsLTU0MC4zNjIyKSI+PHBhdGggZD0ibSAxMjcuNDA2MjUsNjU3Ljc4MTI1IGMgLTQuOTg1MywwLjA3ODQgLTkuOTEwNzcsMi4xNjMwOCAtMTMuNDM3NSw1LjY4NzUgbCAtNTUsNTUgYyAtMy42MDA1NjUsMy41OTkyNyAtNS42OTY4ODMsOC42NTg5NSAtNS42OTY4ODMsMTMuNzUgMCw1LjA5MTA1IDIuMDk2MzE4LDEwLjE1MDczIDUuNjk2ODgzLDEzLjc1IEwgMjQyLjI1LDkyOS4yNSBjIDMuNTk5MjcsMy42MDA1NiA4LjY1ODk1LDUuNjk2ODggMTMuNzUsNS42OTY4OCA1LjA5MTA1LDAgMTAuMTUwNzMsLTIuMDk2MzIgMTMuNzUsLTUuNjk2ODggTCA0NTMuMDMxMjUsNzQ1Ljk2ODc1IGMgMy42MDA1NiwtMy41OTkyNyA1LjY5Njg4LC04LjY1ODk1IDUuNjk2ODgsLTEzLjc1IDAsLTUuMDkxMDUgLTIuMDk2MzIsLTEwLjE1MDczIC01LjY5Njg4LC0xMy43NSBsIC01NSwtNTUgYyAtMy41OTgxNSwtMy41OTEyNyAtOC42NTA2OCwtNS42ODEyNyAtMTMuNzM0MzgsLTUuNjgxMjcgLTUuMDgzNjksMCAtMTAuMTM2MjIsMi4wOSAtMTMuNzM0MzcsNS42ODEyNyBMIDI1Niw3NzguMDMxMjUgMTQxLjQzNzUsNjYzLjQ2ODc1IGMgLTMuNjY2NzgsLTMuNjY0MjMgLTguODQ4MDEsLTUuNzY0NDIgLTE0LjAzMTI1LC01LjY4NzUgeiIgaWQ9InBhdGgzNzY2LTEiIHN0eWxlPSJmb250LXNpemU6bWVkaXVtO2ZvbnQtc3R5bGU6bm9ybWFsO2ZvbnQtdmFyaWFudDpub3JtYWw7Zm9udC13ZWlnaHQ6bm9ybWFsO2ZvbnQtc3RyZXRjaDpub3JtYWw7dGV4dC1pbmRlbnQ6MDt0ZXh0LWFsaWduOnN0YXJ0O3RleHQtZGVjb3JhdGlvbjpub25lO2xpbmUtaGVpZ2h0Om5vcm1hbDtsZXR0ZXItc3BhY2luZzpub3JtYWw7d29yZC1zcGFjaW5nOm5vcm1hbDt0ZXh0LXRyYW5zZm9ybTpub25lO2RpcmVjdGlvbjpsdHI7YmxvY2stcHJvZ3Jlc3Npb246dGI7d3JpdGluZy1tb2RlOmxyLXRiO3RleHQtYW5jaG9yOnN0YXJ0O2Jhc2VsaW5lLXNoaWZ0OmJhc2VsaW5lO2NvbG9yOiMwMDAwMDA7ZmlsbDojMjIyMjIyO2ZpbGwtb3BhY2l0eToxO2ZpbGwtcnVsZTpub256ZXJvO3N0cm9rZTpub25lO3N0cm9rZS13aWR0aDozOC44ODAwMDEwNzttYXJrZXI6bm9uZTt2aXNpYmlsaXR5OnZpc2libGU7ZGlzcGxheTppbmxpbmU7b3ZlcmZsb3c6dmlzaWJsZTtlbmFibGUtYmFja2dyb3VuZDphY2N1bXVsYXRlO2ZvbnQtZmFtaWx5OlNhbnM7LWlua3NjYXBlLWZvbnQtc3BlY2lmaWNhdGlvbjpTYW5zIi8+PC9nPjwvc3ZnPg==);
  background-size: contain;
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
                                        /*Arrow done*/

/* ========================================== Map ==========================================*/

.skoleLundenWrapper{
  width: 90vw;
  height: 80vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
}

.map{
    width: 90vw;
    height: 85vh;
    position: absolute;
    padding-top: 10vh;
}

#infoMap{
    width: 30%;
    height: 60%;
    background-color: #3f5b58;
    margin-left: 2.5%;
    position: absolute;
    box-shadow: 0 0 5px grey;
    overflow: hidden;
    transition:all 0.4s;
}

#infoMap p{
    font-family: verdana;
    margin: 7%;
}

#imageskolelunden{
    width: 100%;
}


                          /*css til tree overlay*/

.overlay{
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 8; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

.close {
    color: red;
    float: right;
    font-size: 30px;
    font-weight: bold;
    }

.close:hover, .close:focus {
    color: #fff;;
    text-decoration: none;
    cursor: pointer;
                          }

.overlay_content {
    background-color: #3f5b58;
    margin: 5% auto; /* 2.5% from the top and centered */
    padding: 0 20px;
    border: 1px solid;
    width: 36%; /* Could be more or less, depending on screen size */
    height: 82.5vh;
    overflow: auto;
}

.top{
  width: 34.5%;
  height: 7vh;
  border-bottom: 2px solid red;
  position: fixed;
  z-index: 2;
  background-color: #3f5b58;
}

.rang{
    width: 3vw;
    height: 6vh;
    margin-left: 8%;
    margin-right: 6%;
    margin-top: 0.5vh;
    float: left;
}

#watermark{
  width: 35%;
  height: 75%;
  margin-top: 2.5%;
  margin-left: 0.8%;
  opacity: 0.3;
  position: absolute;
}

.profil{
  width: 85%;
  height: auto;
  margin-top: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.profilImg{
    width: 40%;
    margin-right: 5%;
    margin-left: 8.25%;
    position: relative;
    z-index: 1;
}

.profilMp4{
    width: 40%;
    position: relative;
    z-index: 1;
}

.billede1{
    width: 33%;
    margin-left: 15%;
    margin-top: 5%;
    margin-bottom: 5%;
    position: relative;
}

.text1{
    width: 33%;
    height: 33%;
    margin-right: 12%;
    margin-top: 5%;
    margin-bottom: 5%;
    position: relative;
    float: right;
    overflow: hidden;
  }



  .text2{
      width: 33%;
      height: 33%;
      margin-left: 15%;
      margin-right: 7%;
      margin-top: 5%;
      margin-bottom: 5%;
      position: relative;
      float: left;
      overflow: hidden;
  }



.billede2{
    width: 33%;
    margin-bottom: 5%;
    position: relative;
}



                        /*css til tree overlay DONE*/


/* ========================================== Under kortet =================================================*/


.appwrapper{
  width: 90vw;
  height: 85vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
}



.infoApp{
    width: 25vw;
    height: 70vh;
    background-color: #3f5b58;
    margin-left: 50%;
    margin-top: 3%;
    position: absolute;
    box-shadow: 0 0 5px grey;
}

.infoApp p{
  font-family: verdana;
  margin: 7%;
}

#iphone{
    width: 18vw;
    height: 70vh;
    margin-left: 25%;
    margin-top: 3%;
    position: absolute;
    cursor: pointer;
}
/* ========================================== footer =================================================*/

footer{
    width: 100%;
    height: 25vh;
    background-color: #3f5b58;
}

footer h1{
  color: #fff;
  text-align: center;
  line-height: 25vh;
}
/* ========================================== Anchor points =================================================*/
#anchor {
    display: block;
    position: relative;
    top: -150px;
    visibility: hidden;
}

#anchor2{
    display: block;
    position: relative;
    top: -150px;
    visibility: hidden;
}
/* ========================================== Responsive media q =================================================*/
