*{
padding: 0;
margin: 0;
}

body{
    background-color: #eee;
}

nav{
    width: 100%;
    height: 100px;
    background-color: #3f5b58;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

ul{
    margin-left: 140px;
}

ul li{
    list-style: none;
    display: inline-block;
    float: right;
    line-height: 100px;
    border-left-style: groove;
}

ul li a{
    display: block;
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
    color: white;
    padding: 0 50px;
}

a:hover{
    color: #c8102e;
}

.navlogo{
    height: 0;
    width: 0;
}

.videowrapper{
    height: 800px;
    padding-top: 90px;
}

video{ 
    height: 100%;
    width: 100%;
}

.textwrapper{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    padding-top: 200px;
    padding-left: 100px;
    color: white;
    font-family: sans-serif;
    font-size: 2em;
}

.textbackground{
    height: 100px;
    width: 500px;
    background-color: black;
    line-height: 100px;
    padding-left: 5%;
    padding-right: 5%;
}

/* ============================ Pilen Under videoen ================================= */

.arrow{
    height: 50px;
    width: 50px;
    background-color: #3f5b58;
    margin: 0 auto;
    border-radius: 50%;
}

i {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 15px;
    margin-left: 8px;
}

.down{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* ========================================== Map ==========================================*/
.websitemap{
    height: 700px;
    width: 99%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 10px 2px grey;
    border: groove black;
    background-color: white;
    
    
}

.movemap{
    padding-top: 1080px;
    margin: 0 140px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.txtwrap{
    height: 500px;
    width: 200px;
    background-color: aqua; 
}

#flytterhelemappet{
    padding-top: 50px;
    
}

.texttilkort{
    height: 470px;
    width: 400px;
    background-color: #3f5b58;
    margin: 150px 0 0 190px;
    margin-top: 1020px;
    border: groove black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

h4{
    color: white;
    font-family: sans-serif;
    font-size: 4em;
    text-align: center;
    padding-top: 10px;
}

p{
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    text-align:inherit;
    padding-top: 10px;
    padding-left: 10px;
}
/* ========================================== footer =================================================*/

.footer{
    height: 100px;
    width: 100%;
}



























