*{
padding: 0;
margin: 0;
}

body{
    background-color: #E2E2DC;
}

nav{
    width: 98.9vw;
    height: 13vh;
    background-color: #3f5b58;
    position: fixed;
    z-index: 1;
}



ul li{
    width: 12.5vw;
    list-style: none;
    display: inline-block;
    float: right;
    line-height: 13vh;
    border-left-style: groove;
}

ul li a{
    display: block;
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
    color: white;
    text-align: center;

}

a:hover{
    color: #c8102e;
}

.navLogo img{
    width: 4%;
    padding-top: 0.5%;
    padding-left: 0.5%;
    float: left;
}

.videowrapper{
    width: 98.9vw;
    padding-top: 7vh;
    overflow: hidden;
    position: absolute;
}

video{
    height: 100%;
    width: 100%;
}

.textwrapper{
    width: 35vw;
    color: white;
    font-family: sans-serif;
    font-size: 1.75em;
    position: relative;
    padding-top: 26vh;
    padding-left: 5vw;
    padding-bottom: 53vh;

}

.textbackground{
    height: 15vh;
    width: 35vw;
    background-color: black;
    text-align: center;
    line-height: 15vh;
}

/* ============================ Pilen Under videoen ================================= */
#viewport{
    width: 100%;
    height: 135px;
    background-color: #3f5b58;
    font-family: sans-serif;
    font-size: 5em;
    line-height: 135px;
    text-align: center;
    color: white;
    z-index: 2;
}
                                    /*Arrow*/
.arrow{
  position: relative;
  bottom: -0.5rem;
  left: 50%;
  margin-left:-20px;
  width: 40px;
  height: 40px;
  /**
   * Dark Arrow Down
   */
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgaGVpZ2h0PSI1MTIiIGlkPSJzdmcyIiB2ZXJzaW9uPSIxLjEiIHdpZHRoPSI1MTIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6Y2M9Imh0dHA6Ly9jcmVhdGl2ZWNvbW1vbnMub3JnL25zIyIgeG1sbnM6ZGM9Imh0dHA6Ly9wdXJsLm9yZy9kYy9lbGVtZW50cy8xLjEvIiB4bWxuczppbmtzY2FwZT0iaHR0cDovL3d3dy5pbmtzY2FwZS5vcmcvbmFtZXNwYWNlcy9pbmtzY2FwZSIgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIiB4bWxuczpzb2RpcG9kaT0iaHR0cDovL3NvZGlwb2RpLnNvdXJjZWZvcmdlLm5ldC9EVEQvc29kaXBvZGktMC5kdGQiIHhtbG5zOnN2Zz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzIGlkPSJkZWZzNCIvPjxnIGlkPSJsYXllcjEiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDAsLTU0MC4zNjIyKSI+PHBhdGggZD0ibSAxMjcuNDA2MjUsNjU3Ljc4MTI1IGMgLTQuOTg1MywwLjA3ODQgLTkuOTEwNzcsMi4xNjMwOCAtMTMuNDM3NSw1LjY4NzUgbCAtNTUsNTUgYyAtMy42MDA1NjUsMy41OTkyNyAtNS42OTY4ODMsOC42NTg5NSAtNS42OTY4ODMsMTMuNzUgMCw1LjA5MTA1IDIuMDk2MzE4LDEwLjE1MDczIDUuNjk2ODgzLDEzLjc1IEwgMjQyLjI1LDkyOS4yNSBjIDMuNTk5MjcsMy42MDA1NiA4LjY1ODk1LDUuNjk2ODggMTMuNzUsNS42OTY4OCA1LjA5MTA1LDAgMTAuMTUwNzMsLTIuMDk2MzIgMTMuNzUsLTUuNjk2ODggTCA0NTMuMDMxMjUsNzQ1Ljk2ODc1IGMgMy42MDA1NiwtMy41OTkyNyA1LjY5Njg4LC04LjY1ODk1IDUuNjk2ODgsLTEzLjc1IDAsLTUuMDkxMDUgLTIuMDk2MzIsLTEwLjE1MDczIC01LjY5Njg4LC0xMy43NSBsIC01NSwtNTUgYyAtMy41OTgxNSwtMy41OTEyNyAtOC42NTA2OCwtNS42ODEyNyAtMTMuNzM0MzgsLTUuNjgxMjcgLTUuMDgzNjksMCAtMTAuMTM2MjIsMi4wOSAtMTMuNzM0MzcsNS42ODEyNyBMIDI1Niw3NzguMDMxMjUgMTQxLjQzNzUsNjYzLjQ2ODc1IGMgLTMuNjY2NzgsLTMuNjY0MjMgLTguODQ4MDEsLTUuNzY0NDIgLTE0LjAzMTI1LC01LjY4NzUgeiIgaWQ9InBhdGgzNzY2LTEiIHN0eWxlPSJmb250LXNpemU6bWVkaXVtO2ZvbnQtc3R5bGU6bm9ybWFsO2ZvbnQtdmFyaWFudDpub3JtYWw7Zm9udC13ZWlnaHQ6bm9ybWFsO2ZvbnQtc3RyZXRjaDpub3JtYWw7dGV4dC1pbmRlbnQ6MDt0ZXh0LWFsaWduOnN0YXJ0O3RleHQtZGVjb3JhdGlvbjpub25lO2xpbmUtaGVpZ2h0Om5vcm1hbDtsZXR0ZXItc3BhY2luZzpub3JtYWw7d29yZC1zcGFjaW5nOm5vcm1hbDt0ZXh0LXRyYW5zZm9ybTpub25lO2RpcmVjdGlvbjpsdHI7YmxvY2stcHJvZ3Jlc3Npb246dGI7d3JpdGluZy1tb2RlOmxyLXRiO3RleHQtYW5jaG9yOnN0YXJ0O2Jhc2VsaW5lLXNoaWZ0OmJhc2VsaW5lO2NvbG9yOiMwMDAwMDA7ZmlsbDojMjIyMjIyO2ZpbGwtb3BhY2l0eToxO2ZpbGwtcnVsZTpub256ZXJvO3N0cm9rZTpub25lO3N0cm9rZS13aWR0aDozOC44ODAwMDEwNzttYXJrZXI6bm9uZTt2aXNpYmlsaXR5OnZpc2libGU7ZGlzcGxheTppbmxpbmU7b3ZlcmZsb3c6dmlzaWJsZTtlbmFibGUtYmFja2dyb3VuZDphY2N1bXVsYXRlO2ZvbnQtZmFtaWx5OlNhbnM7LWlua3NjYXBlLWZvbnQtc3BlY2lmaWNhdGlvbjpTYW5zIi8+PC9nPjwvc3ZnPg==);
  background-size: contain;
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
                                        /*Arrow done*/

/* ========================================== Map ==========================================*/
.websitemap{
    height: 700px;
    width: 99%;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 10px 2px grey;
    border: groove black;
    background-color: white;


}
#mappadding{
    margin-top: 200px;
}

.movemap{
    overflow: hidden;
    padding-top: 1300px;
    margin: 0 140px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

#imageskolelunden{
    width: 100%;
}
.txtwrap{
    height: 500px;
    width: 200px;
    background-color: aqua;
}

#flytterhelemappet{
    padding-top: 50px;

}

#texttilkort{
    height: 470px;
    width: 400px;
    background-color: #3f5b58;
    margin: 150px 0 0 190px;
    margin-top: 1250px;
    border: groove black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    transition:all 1s;
}

h4{
    color: #c8102e;
    font-family: sans-serif;
    font-size: 4em;
    text-align: center;
    padding-top: 10px;
}

p{
    color: white;
    font-family: sans-serif;
    font-size: 18px;
    text-align:inherit;
    padding-top: 10px;
    padding-left: 10px;
}
/* ========================================== Under kortet =================================================*/
#spacingmapapp{
    padding-top: 200px;
}

.appwrapper{
    height: 600px;
    width: 100%;
    display: inline-block;
}

.informationspc{
    padding-top: 50px;
    margin-left: 50%;
}

.information{
    height: 470px;
    width: 400px;
    background-color: #3f5b58;
    border: groove black;
}

h5{
    color: #c8102e;
    font-family: sans-serif;
    font-size: 4em;
    text-align: center;
    padding-top: 10px;
}

#iphone{
    float: left;
    margin-left: 20%;
    padding-top: 50px;
}
/* ========================================== footer =================================================*/

.footer{
    height: 100px;
    width: 100%;
    background-color: #3f5b58;
}

.footerspc{
    padding-top: 100px;
}
/* ========================================== Anchor points =================================================*/
#anchor {
    display: block;
    position: relative;
    top: -150px;
    visibility: hidden;
}

#anchor2{
    display: block;
    position: relative;
    top: -150px;
    visibility: hidden;
}
/* ========================================== Responsive media q =================================================*/
