*{
padding: 0;
margin: 0;
}

body{
    background-color: #eee;
}

nav{
    width: 100%;
    height: 14vh;
    background-color: #3f5b58;
}

ul{
    margin-left: 140px;
}

ul li{
    list-style: none;
    display: inline-block;
    float: right;
    line-height: 14vh;
    border-left-style: groove;
}

ul li a{
    display: block;
    text-decoration: none;
    font-size: 20px;
    font-family: sans-serif;
    color: white;
    padding: 0 50px;
}

a:hover{
    color: #c8102e;
}

.navlogo{
    height: 0;
    width: 0;
}


.box1{
  width: 200px;
  height: 50px;
  background-color: red;
  margin-top: 50px;
  margin-right: 500px;
  float: right;
}

.box2{
  width: 200px;
  height: 50px;
  background-color: blue;
  margin-top: 50px;
  margin-left: 500px;
}

.button{
  width: 200px;
  height: 50px;
  margin-top: 50px;
  margin-left: 500px;
}

.box1 p{
  text-align: center;
}

.overlay {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.close {
  color: red;
  float: right;
  font-size: 30px;
  font-weight: bold;
}

.close:hover, .close:focus {
  color: #fff;;
  text-decoration: none;
  cursor: pointer;
}

.overlay_content {
  background-color: #3f5b58;
  margin: 2.5% auto; /* 2.5% from the top and centered */
  padding: 20px;
  border: 1px solid;
  width: 36%; /* Could be more or less, depending on screen size */
  height: 600px;
  overflow: auto;
}


#watermark{
  width: 35%;
  height: 75%;
  margin-top: 2.5%;
  opacity: 0.5;
  position: absolute;

}

.top{
  width: 35%;
  height: 50px;
  border-bottom: 2px solid red;
  position: fixed;
  z-index: 2;
  background-color: #3f5b58;
}

h1{
  color: #fff;
  font-size: 25px;
  float: left;
  margin-top: 1%;

}

.rang{
  width: 45px;
  height: 45px;
  float: left;
  margin-left: 12%;
  margin-right: 12%;
}

.top p{
  color: #fff;
  font-size: 20px;
}

.profil{
  width: 85%;
  height: auto;
  margin-top: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.profilImg{
  width: 35%;
  margin-right: 14.5%;
  position: relative;
  z-index: 1;
}

.profilMp4{
  width: 35%;
  margin-left: 13%;
  position: relative;
  z-index: 1;
}

h2{
  color: #fff;
  font-size: 30px;
  text-align: center;
  position: relative;
}

.billede1{
  width: 33%;
  margin-left: 7.5%;
  margin-right: 7.5%;
  margin-bottom: 5%;
  position: relative;

}

.text1{
  width: 33%;
  margin-left: 7.5%;
  margin-right: 7.5%;
  margin-top: 5%;
  margin-bottom: 5%;
  position: relative;
  float: right;
}

.text1 p{
  color: #fff;
}

.billede2{
  width: 33%;
  margin-left: 7.5%;
  margin-right: 7.5%;
  margin-bottom: 5%;
  position: relative;

}

.text2{
  width: 33%;
  margin-left: 7.5%;
  margin-right: 7.5%;
  margin-top: 5%;
  margin-bottom: 5%;
  position: relative;
  float: left;
}

.text2 p{
  color: #fff;
}





/* JAAA JOOO */
